
body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  padding: 50px;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  line-height: 1.4;
}

.title {
  font-size: 25px;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 25px;
}

.item {
  margin: 40px 10px;
  background-color: #fff;
  box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
  transition: transform 0.3s;
  transform: translate3d(0, -1px, 0);
}

.item:hover  {
  transform: translate3d(0, -10px, 0);
}

.item img {
  display: block;
  width: 100%;
  height: auto;
}


.items {
  position: relative;
}

/**
CAROUSEL
 */
.carousel {
  position: relative;
}

.carousel__container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}

.carousel__container::after {
  content: '';
  clear: both;
  display: table;
}

.carousel__item {
  float: left;
}

.carousel__next, .carousel__prev {
  position: absolute;
  border:none;
  z-index: 10;
  outline: none;
  width: 40px;
  height: 40px;
  background: #FFF url("./img/right.svg") center center no-repeat;
  background-size:  20px 20px;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  right: -20px;
  box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}

.carousel__next:hover, .carousel__prev:hover {
  transform: scale(1.2)
}

.carousel__prev {
  background-image: url("./img/left.svg");
  right: auto;
  left: -20px;
}

.carousel__next--hidden, .carousel__prev--hidden {
  opacity: 0;
}

.carousel__pagination {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}

.carousel__pagination__button {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  display: inline-block;
  margin: 0 3px;
  box-shadow: 0 2px 5px #d10e0e1a;
  transition: transform 0.3s;
  cursor: pointer;
 outline: none;
}

.carousel__pagination__button--active, .carousel__pagination__button:hover {
  transform: scale(1.4);
  background: red;
}

@media screen and (min-width: 800px) {
  .carousel__pagination {
    display: block;
  }
}
